@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
  background-image: url(./img/fundo.jpg);
  background-size: cover;
}

.Container{
display:flex;
flex-direction:column;
width:99.7%;
align-items:center;
height:99vh;
}
.sentence{
  width: 45vw;
  color:white;
  font-family: 'Permanent Marker', cursive;
  
}
@media (max-width: 900px) {
  .sentence{
      height: 40vh;
      width: 70vw;
  }
}
@media (max-width: 550px) {
  .sentence{
      position:relative;
      left:3%;
      top:15%;
      height: 30vh;
      font-size: 4.3vw;
  }
}